body {
  margin: 0;
  padding: 0;
}

header {
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  text-align: center;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header p {
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

header p:first-child {
  font-size: 20px;
  margin-top: 69px
}

header p:nth-child(2) {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0
}

header p:nth-child(3) {
  font-size: 14px;
  margin-top: 24px;
}


/* 
References:
https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ 

*/